{{- $chartName := include "geoserver.name" . -}}
{{- $db := (include "common.db.merged" .) | fromYaml }}
{{- $fs := (include "common.fs.merged" .) | fromYaml }}
{{- $geoserver := (include "common.geoserver.merged" .) | fromYaml }}
{{- $serviceUrls := (include "common.serviceUrls.merged" .) | fromYaml }}
{{- $tracing := (include "common.tracing.merged" .) | fromYaml }}
{{- $metrics := (include "common.metrics.merged" .) | fromYaml }}

apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "configmap.fullname" . }}
  labels:
{{ include "geoserver.labels" . | indent 4}}
data:
  LOG_LEVEL: {{ .Values.sideCar.env.logLevel | quote }}
  LOG_PRETTY: {{ .Values.sideCar.env.logPretty | quote }}
  UPDATE_INTERVAL: {{ .Values.updateInterval | default 120000 | quote }}
  INITIAL_MEMORY: {{ .Values.initialMemory | default "128M" | quote }}
  MAX_MEMORY: {{ .Values.maxMemory | default "756M" | quote }}
  GEOSERVER_DATA_DIR: {{ $fs.internalPvc.mountPath | quote }}
  POLLING_INTERVAL_MS: {{ .Values.sideCar.env.pollingIntervalMs | default 300 | quote }}
  GEOSERVER_BASE_URL: {{ $serviceUrls.geoserverUrl | quote }}
  GEOSERVER_API_BASE_URL : {{ $serviceUrls.geoserverApiUrl | quote }}
  CATALOG_MANAGER_SERVICE_URL : {{ $serviceUrls.catalogManager | quote }}
  WORKSPACE_NAME: {{ $geoserver.workspace | quote }}
  DATASTORE_NAME: {{ $geoserver.dataStore | quote }}
  FEATURE_TYPES_STRINGS_BLACK_LIST: {{ .Values.sideCar.env.featureTypesBlackLists.tableNameStrings | toJson | quote }}
  FEATURE_TYPES_REGEX_BLACK_LIST: {{ .Values.sideCar.env.featureTypesBlackLists.tableNamesRegex | toJson | quote }}
  PGAPPNAME: {{ $chartName }}
  TELEMETRY_TRACING_ENABLED: {{ $tracing.enabled | quote }}
  TELEMETRY_METRICS_ENABLED: {{ $metrics.enabled | quote }}
