name: pull_request
on: [pull_request]

jobs:
  eslint:
    name: Run JS Project eslint
    runs-on: ubuntu-latest
    strategy: &node-strategy
      matrix:
        node: [24.x]

    steps:
      - name: Run JS Project linters
        uses: MapColonies/shared-workflows/actions/eslint@eslint-v1.0.1
        with: 
          node_version: ${{ matrix.node }}

  helm-lint:
    name: Run Helm lint Check
    runs-on: ubuntu-latest

    steps:
      - name: Check out JS Project Git repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Helm Lint Checks
        uses: MapColonies/shared-workflows/actions/helm-lint@helm-lint-v1

  build_docker_image:
    runs-on: ubuntu-latest
    steps:
      - name: Build Docker image
        uses: docker/build-push-action@v6
